

#contenidoEditPerfil{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    width: 60%;
    float: left;
    position: relative;
    padding-left: 20px;
    border: solid 1px;
    border-color: wheat;
    height: 600px;
    padding-top: 20px;
    background-color:white;
}

.left{
    width: 30%;
    float: left;
    position: relative;
    text-align: right;
    margin-right: 20px;
    
}

.right{
    width: 60%;
    float: left;
    position: relative;


}

.right input{
    margin-bottom: 22px;
    border: 1px solid #efefef;
    padding-left: 10px;
    border-bottom: 1px;
    border-right: 1px;
    width: 100%;  
    border-radius: 3px;
    box-sizing: border-box;
    color: #262626;
}

.right textarea{
    margin-bottom: 22px;
    border: none;
    width: 100%;
    
}

.left div{
    font-weight: 600;
    margin-bottom: 16px;
}

.separa{
    font-weight: 600;
    width:100%;
    float: left;
    position: relative;
    text-align: center;
    margin-bottom: 16px;
}

#nameTitle{
    width:100%;
    float: left;
    position: relative;
    margin-bottom: 16px;
}

#nombUsu{
    font-size: 24px;
}

#boton{
    float: left;
    padding-left: 25%;
}

select{
    margin-bottom: 22px;
}

.hidenm{
    font-weight: 600;
    margin-top: 10px;
    position: relative;
    float: left;
    padding-left: 20px;
}

#titleChangeMenu{
    position: relative;
    width:100%;
    float: left;
    text-align: center;
    padding: 5px;
    font-weight: 600;
}

#menu_change_photo {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    list-style-position:inside;
    margin-bottom: 10px;   
}



.editPerfilOpt{
    float: left;
    position: relative;
    width: 100%;
    padding-top: 5px;
}

.editPerfilOpt:hover{
    font-weight: bold;
    background-color: gray;
    cursor: pointer;
}



#espacioFoto{
    float: left;
    position: relative;
    width:100%;
    max-width: 800px;
    max-height: 800px;
    text-align: center;
}

#fotoCambiar{
    max-width: 395px;
    max-height: 395px;
    text-align: center;

}