<div id="contenidoEditPerfil">
    <form [formGroup]="form" (submit)="enviar()">
        <div>
            <div id="nameTitle">
                <div class="left">
                    <img alt="" src="assets/images/defaultlogo.png" width="40px" />
                </div>
                <div class="right">
                    <div><a id="nombUsu">{{username}}</a></div>
                    <div><a style="color:rgb(65, 168, 202); font-weight: 600">Cambiar foto del perfil</a></div>

                </div>
            </div>
            <div class="left">
                <div><label>Nombre</label></div>
                <div><label>Nombre de usuario</label></div>
                <div><label>Sitio Web</label></div>
                <div><label>Biografia</label></div>
            </div>
            <div class="right">
                <input formControlName="name" />
                <input formControlName="username" />
                <input formControlName="bio" />
                <textarea formControlName="website"></textarea>
            </div>
            <div class="separa">
                <a>Información privada</a>
            </div>
            <div class="left">
                <div><label>Correo electrónico</label></div>
                <div><label>Número de teléfono</label></div>
                <div><label>Sexo</label></div>
            </div>
            <div class="right">
                <input formControlName="email" />
                <input formControlName="phoneNumber" />
                <select>
                    <option value="Hombre">Hombre</option>
                    <option value="Mujer">Mujer</option>
                    <option value="no">Sin especificar</option>
                </select>
            </div>
            <div id="boton"><input type="submit" class="btn btn-primary btn-sm" value="Enviar" /></div>
            <div class="hidenm" *ngIf="profileUpdated">
                <a style="color: rgb(5, 196, 53); width: 100%; float: left; text-align: center; font-weight: 600;">Perfil
                    actualizado satisfactoriamente</a>
            </div>
        </div>
    </form>
</div>