<div>
    <form [formGroup]="form" (submit)="enviar()">
        <div>
            <label>Nombre</label>
            <input formControlName="name"/>
        </div>
        <div>
            <label>Nombre de usuario</label>
            <input formControlName="username" />
        </div>
        <div>
            <label>Biografia</label>
            <input />
        </div>
        <div>
            <label>E-mail</label>
            <input />
        </div>
        <div>
            <label>Número de tléfono</label>
            <input />
        </div>
        <div>
            <label>Sexo</label>
            <input />
        </div>
        <div>
            <label>Sitio Web</label>
            <input />
        </div>
        <div>
            <input type="submit" value="Enviar" />
        </div>
    </form>
</div>