<div class="content">
  <div class="titulosec">
    <a>FEED</a>
  </div>
  <div>
    <div style="flex-direction: column; padding-bottom: 14976px; padding-top: 0px">
      <article class="publish1">
        <header class="header1">
          <div class="user1" role="button" tabindex="0">
            user
          </div>
        </header>
        <div class="image1">
          <div>
            image
          </div>
        </div>
        <div>
          feedback
        </div>
        <div>
          opciones
        </div>
      </article>
    </div>
  </div>


  <!--
  <div class="fotos">
      <div><img src="/assets/images/X.png" /></div>
      <div><img src="/assets/images/X.png" /></div>
      <div><img src="/assets/images/X.png" /></div>
  </div>
  <div class="titulosec" id="explorar">
      <a>Explorar</a>
    </div>
  <div class="fotos">
      <div><img src="/assets/images/X.png" /></div>
      <div><img src="/assets/images/X.png" /></div>
      <div><img src="/assets/images/X.png" /></div>
      <div><img src="/assets/images/X.png" /></div>
      <div><img src="/assets/images/X.png" /></div>
      <div><img src="/assets/images/X.png" /></div>
      <div><img src="/assets/images/X.png" /></div>
  </div>
  -->
</div>

