<div class="content">
  <div class="titulosec">
    <h1>FEED</h1>
  </div>
  <div>
    <div style="flex-direction: column; padding-bottom: 14976px; padding-top: 0px" *ngFor="let photo of perfilPhotos">
      <article class="publish1">
        <header class="header">
          
          <div class="user" role="button" tabindex="0" style=" cursor: pointer;">
            <a [routerLink]="'/user2'">user2</a>
          </div>

        </header>
        <div class="image">

          <div>
            <img alt="feed image" [src]="photo.photo" width="200px" height="200px"/>
          </div>
          
        </div>
        <div>
          feedback
        </div>
        <div>
          opciones
        </div>
      </article>
    </div>
  </div>


  <!--
  <div class="fotos">
      <div><img src="/assets/images/X.png" /></div>
      <div><img src="/assets/images/X.png" /></div>
      <div><img src="/assets/images/X.png" /></div>
  </div>
  <div class="titulosec" id="explorar">
      <a>Explorar</a>
    </div>
  <div class="fotos">
      <div><img src="/assets/images/X.png" /></div>
      <div><img src="/assets/images/X.png" /></div>
      <div><img src="/assets/images/X.png" /></div>
      <div><img src="/assets/images/X.png" /></div>
      <div><img src="/assets/images/X.png" /></div>
      <div><img src="/assets/images/X.png" /></div>
      <div><img src="/assets/images/X.png" /></div>
  </div>
  -->
</div>

