<div id="layout">
  <div id="logo">
    <img src="assets/images/logo.png" />
    <!--logo-->
  </div>
  <div id="buscadorDiv">
    <!--<input value="Busca" id="buscador"/>buscador-->

    <input class="XTCLo x3qfX " type="text" autocapitalize="none" id="buscador" placeholder="Busca" value="">
    <span class="mlrQa coreSpriteSearchIcon"></span>
    <div class="aIYm8 coreSpriteSearchClear" role="button" tabindex="0"></div>
    <div id="resultadoSearch">
      <div class="user" [routerLink]="'/' + zzzz" *ngFor="let user of searchResult">
        <div class="fotoUserSearch">
          <img [src]="user.photo" />
        </div>
        <div class="nameUserSearch">
          {{user.username}}
        </div>
        <div class="usernameUserSearch">
          {{user.name}}
        </div>
      </div>

    </div>
  </div>



  <div id="botones" *ngIf="authenticationService.logUser">
    <i class="fa fa-compass fa-2x" id="primero" routerLink="/explore"></i>
    <!--explore-->
    <i class="fa fa-heart fa-2x" routerLink="/"></i>
    <!--feed-->
    <i class="fa fa-user fa-2x" [routerLink]="'/' + profilename"></i>
    <!--profile-->
  </div>
  <div id="botones" *ngIf="!authenticationService.logUser">
    <button class="btn btn-primary" [routerLink]="[ '/login']">login</button>
    &nbsp;
    <button class="btn btn-primary" [routerLink]="[ '/signup']">register</button>
  </div>

</div>