#layout{
    border-style: solid;
    border-width: 0.2px;
    border-color:#BBBBBB;
    border-left: none;
    border-top: none;
    border-right: none;
    padding-left: 200px;
    width:100%;
    min-width: 1000px;
    height: 75px;
    font-family: tahoma;
}

img{
    width: 120px;
}

#botones{
    padding-top: 20px;
    width: 20%;
    position: relative;
    float: left;
    margin-left:100px;
}
#logo{
    padding-top:23px;
    width:10%;
    position: relative;
    float: left;
}
#buscador{
    margin-top:11px;
    width:40%;
    position: relative;
    float: left;
    margin-left: 100px;
}

i{
    
    margin-left: 10%;

}

i:hover{
    cursor: pointer;
}

.notifications{
    width: 500px;
    height: 364px;
    
}

:host /deep/ .popover{
    width: 500px !important;
    height: 300px !important;
    max-width: 500px !important;
    min-width: 500px !important;
    top: 56px !important;
    left: -340px !important;
    overflow-y: scroll;
 }

 :host /deep/ .popover .arrow{
    left: 447px !important;
 }

 .arrow_follows {
    background-image: url("/assets/images/insta_icons.png");
    background-position: -321px -295px;
    height: 30px;
    width: 24px;
    display: inline-block;
    cursor: pointer; 
    outline-width: 0;
}
