<html>
    <body style="background-color: #F8F8F8">
        <div class="row justify-content-md-center">
            <div class="column" style="width: 21%; vertical-align: bottom; z-index: 3;">
                <img class="phone-image" 
                    style="vertical-align: middle; 
                    width: 11cm; height: 16cm; 
                    position:absolute;
                    top:0;
                    bottom:0;
                    margin:auto;" 
                    src="assets/images/phoneSliders/backgroundPhones.png" />   
            </div>            
            <div class="column" style="width: 21%; z-index: 4;">       
                <br>
                <div style="width: 9cm; text-align: center; margin-bottom: 10px; padding: 15px;" class="jumbotron">
                    <img class="user-avatar" src="assets/images/logo.png" width="225px" />
                    
                    <p>
                        Regístrate para ver fotos y vídeos de tus amigos.
                    </p>
                    <p>
                        <a href="javascript:void(0)" class="btn btn-block-custom btn-sm" role="button" size="105px">
                            <i style="font-size:24px" class="fa">&#xf230;</i>        Iniciar sesión con Facebook</a>
                    </p>
    
                    <div style="height: 1px; border-top: 1px solid #D3D3D3; text-align: center; position: relative; ">
                        <span style="position: relative; top: -.7em; background: white; display: inline-block; ">&nbsp;&nbsp;&nbsp; o &nbsp;&nbsp;&nbsp;</span>
                    </div>
                    <br>
                    
    
                    <form role="form">
                        <div class="form-control-range" style="text-align: center;">
                            <div class="form-group">
                                <input type="text" style="font-size: 13.5px" class="form-control input-underline input-lg" id="loginID" placeholder="Número de móvil o correo electrónico" required>
                            </div>
    
                            <div class="form-group">
                                <input type="text" style="font-size: 13.5px" class="form-control input-underline input-lg" id="name" placeholder="Nombre completo">
                            </div>
            
                            <div class="form-group">
                                <input type="text" style="font-size: 13.5px" class="form-control input-underline input-lg" id="username" placeholder="Nombre de usuario">
                            </div>
            
                            <div class="form-group">
                                <input type="password" style="font-size: 13.5px" class="form-control input-underline input-lg" id="password" placeholder="Contraseña">
                            </div>                        
                            <p>
                                <a href="javascript:void(0)" class="btn btn-block-custom btn-sm" role="button" [routerLink]="['/dashboard']">Siguiente</a>
                            </p>
                            <span style="font-size: 13.5px;">
                                Al registrarte, aceptas nuestras <b>Condiciones</b>. 
                                Obtén más información sobre cómo recopilamos, 
                                usamos y compartimos tu información en la <b>Política de datos</b>, 
                                así como el uso que hacemos de las cookies y tecnologías similares en nuestra <b>Política de cookies.</b></span>
                        </div>
                    </form>
    
                </div>
                <div style="width: 9cm; height: 2cm; margin-bottom: 10px; padding: 15px;" class="jumbotron">
                        <span style="color: black; font-size: 13.5px">¿Tienes una cuenta? <a [routerLink]="['/login']">Entrar</a></span>
                </div>
                <span>Descarga la aplicación</span>
                <div class="row">
                        <img class="user-avatar" src="assets/images/banners/bannerApple.png" style=" width: 3cm; height: 1cm;"/>
                        &nbsp;
                        <img class="user-avatar" src="assets/images/banners/bannerGoogle.png" style=" width: 3cm; height: 1cm;"/>
                        &nbsp;
                        <img class="user-avatar" src="assets/images/banners/bannerMicrosoft.png" style=" width: 3cm; height: 1cm;"/>
                </div>
            </div>
        </div>
    </body>
</html>