
<body style="background-color: #F8F8F8; max-width: 100%; overflow-x: hidden;">
    <div class="row justify-content-md-center">    
        <div class="column" style="width: 21%; vertical-align: bottom; z-index: 3;">
                <div class="phone-slider" style="width: 450px;
                    height: 517px;
                    background-image: url(../assets/images/phoneSliders/backgroundPhones.png);
                    background-repeat: no-repeat;
                    background-size: contain;
                    padding-top: 81px; 
                    padding-left: 125px;
                    padding-right: 0px;
                    padding-bottom: 0px;
                    vertical-align: middle;
                    position:absolute;
                    top:0;
                    bottom:0;
                    margin:auto;
                    ">
                    <div class="carousel-inner" role="listbox" style="height: 100% !important;
                    object-fit: cover;">
                        <div class="item active">
                            <img src="../assets/images/phoneSliders/phoneImage1.jpg" alt="..." width="200">
                            <div class="carousel-caption">
                            First slide label
                            </div>
                        </div>
                        <!--<div class="item" style="height: 100% !important;
                        object-fit: cover;">
                            <img src="../assets/images/phoneSliders/phoneImage2.jpg" alt="...">
                            <div class="carousel-caption">
                            Second slide label
                            </div>
                        </div>-->
                    </div>                
                </div>
            <!-- <img class="phone-image"
                style="vertical-align: middle;
                width: 11cm; height: 16cm;
                position:absolute;
                top:0;
                bottom:0;
                margin:auto;"
                src="../assets/images/phoneSliders/backgroundPhones.png" />-->
        </div>
        <div class="column" style="width: 21%; z-index: 4;">
            <br>
            <div style="width: 9cm; text-align: center; margin-bottom: 10px; padding: 15px;" class="jumbotron">
                <img class="user-avatar" src="../assets/images/logo.png" width="225px" />

                <p>
                    Regístrate para ver fotos y vídeos de tus amigos.
                </p>
                <p>
                    <a href="javascript:void(0)" class="btn btn-primary btn-sm" role="button" size="105px">
                        <i style="font-size:24px" class="fa">&#xf230;</i>        Iniciar sesión con Facebook</a>
                </p>

                <div style="height: 1px; border-top: 1px solid #D3D3D3; text-align: center; position: relative; ">
                    <span style="position: relative; top: -.7em; background: #E8ECEF; display: inline-block; ">&nbsp;&nbsp;&nbsp; o &nbsp;&nbsp;&nbsp;</span>
                </div>
                <br>
                <form data-toggle="validator" #registerForm="ngForm" role="form" id="registerForm" name="registerForm">
                    <fieldset>
                        <div class="form-group">
                            <input type="email" placeholder="Número de móvil o correo electrónico" style="font-size: 13.5px" class="form-control width-input" id="email" name="email" type="text" [(ngModel)]="user.email" #email="ngModel" email>
                            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger width-input">Email</div>
                        </div>
                        <div class="form-group">
                            <input class="form-control width-input" placeholder="Nombre completo" style="font-size: 13.5px" id="name" name="name" type="text" minlength="4" [(ngModel)]="user.name" #name="ngModel" required>
                            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger width-input">No void</div>
                        </div>                            
                        <div class="form-group">
                            <input type="username" placeholder="Nombre de usuario" style="font-size: 13.5px" class="form-control width-input" id="username" name="username" [(ngModel)]="user.username" #username="ngModel" required>
                            <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger width-input">Invalid Username</div>
                        </div>
                        <div class="form-group">
                            <input class="form-control width-input" placeholder="Contraseña" style="font-size: 13.5px" id="password" name="password" type="password" minlength="4" [(ngModel)]="user.password" #password="ngModel" required>
                            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger width-input">No void</div>
                        </div>
                    </fieldset>
                    <br>
                    <button (click)="onClickRegisterButton()" [disabled]="!registerForm.valid" class="btn btn-primary btn-sm">Siguiente</button>
                    <br>
                    <span style="font-size: 13.5px;">
                        Al registrarte, aceptas nuestras <b>Condiciones</b>.
                        Obtén más información sobre cómo recopilamos,
                        usamos y compartimos tu información en la <b>Política de datos</b>,
                        así como el uso que hacemos de las cookies y tecnologías similares en nuestra <b>Política de cookies.</b>
                    </span>
                </form>

            </div>
            <div style="width: 9cm; height: 2cm; margin-bottom: 10px; padding: 15px; text-align: center;" class="jumbotron">
                    <span style="color: black; font-size: 13.5px">¿Tienes una cuenta? <a [routerLink]="['/login']">Entrar</a></span>
            </div>
            <div style="text-align: center;">
                <span>Descarga la aplicación</span>
            </div>
            
            <div class="row">
                    <img class="user-avatar" src="../assets/images/banners/bannerApple.png" style=" width: 3cm; height: 1cm;"/>
                    &nbsp;
                    <img class="user-avatar" src="../assets/images/banners/bannerGoogle.png" style=" width: 3cm; height: 1cm;"/>
                    &nbsp;
                    <img class="user-avatar" src="../assets/images/banners/bannerMicrosoft.png" style=" width: 3cm; height: 1cm;"/>
            </div>
        </div>
    </div>
</body>


<ng-template #modalOk let-c="close" let-d="dismiss">
    <div class="modal-header alert alert-success">
        <h4 class="modal-title ">SuccessModalTitle</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>SuccessModalBody</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
    </div>
</ng-template>

<ng-template #modalError let-c="close" let-d="dismiss">
    <div class="modal-header alert alert-danger">
        <h4 class="modal-title">Error</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>{{ errorMessage }}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
    </div>
</ng-template>

<!-- Footer -->
<footer class="page-footer font-small cyan darken-3" style="background: #F8F8F8;">

    <!-- Footer Elements -->
    <div class="container">

        <!-- Grid row-->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-12 py-5">
                <br>
                <br>
                <br>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row-->

    </div>
    <!-- Footer Elements -->
    <div class="footer-copyright text-center py-3">
            <!-- Información -->
            <a [routerLink]="['/feed']" class="info-link" style="font-weight: bold; color: darkslategray;">
                INFORMACIÓN 
            </a>
            &nbsp; &nbsp;
            <!-- Asistencia -->
            <a [routerLink]="['/feed']" class="assistance-link" style="font-weight: bold; color: darkslategray;">
                ASISTENCIA 
            </a>
            &nbsp; &nbsp;
            <!-- Prensa-->
            <a [routerLink]="['/feed']" class="press-link" style="font-weight: bold; color: darkslategray;">
                PRENSA 
            </a>
            &nbsp; &nbsp;
            <!-- Api -->
            <a [routerLink]="['/feed']" class="api-link" style="font-weight: bold; color: darkslategray;">
                API 
            </a>
            &nbsp; &nbsp;
            <!-- Empleo -->
            <a [routerLink]="['/feed']" class="jobs-link" style="font-weight: bold; color: darkslategray;">
                EMPLEO 
            </a>
            &nbsp; &nbsp;
            <!-- Privacidad -->
            <a [routerLink]="['/feed']" class="privacy-link" style="font-weight: bold; color: darkslategray;">
                PRIVACIDAD 
            </a>   
            &nbsp; &nbsp;
            <!--Condiciones-->
            <a [routerLink]="['/feed']" class="tos-link" style="font-weight: bold; color: darkslategray;">
                CONDICIONES 
            </a>  
            &nbsp; &nbsp;
            <!--Directorio-->
            <a [routerLink]="['/feed']" class="dir-link" style="font-weight: bold; color: darkslategray;">
                DIRECTORIO 
            </a>  
            &nbsp; &nbsp;
            <!--Perfiles-->
            <a [routerLink]="['/feed']" class="profiles-link" style="font-weight: bold; color: darkslategray;">
                PERFILES 
            </a>  
            &nbsp; &nbsp;
            <!--Hashtags-->
            <a [routerLink]="['/feed']" class="hastags-link" style="font-weight: bold; color: darkslategray;">
                HASHTAGS 
            </a>  
            &nbsp; &nbsp;
            <!--Idioma-->
            <a [routerLink]="['/feed']" class="language-link" style="font-weight: bold; color: darkslategray;">
                IDIOMA 
            </a> 
            &nbsp; &nbsp; &nbsp; &nbsp;
                
            © 2018 INSTAGRAM     
        </div>
</footer>
<!-- Footer -->