<!--<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img class="user-avatar" src="assets/images/logo.png" width="150px" />
            <h1>SB Admin BS4 Angular5</h1>
            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" id="" placeholder="Full Name">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" id="" placeholder="Email">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" id="" placeholder="Username">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="" placeholder="Repeat Password">
                    </div>
<html>
    <body style="background-color: #F8F8F8">
        <div class="row justify-content-md-center">
            <div class="column" style="width: 21%; vertical-align: bottom; z-index: 3;">
                <img class="phone-image" 
                    style="vertical-align: middle; 
                    width: 11cm; height: 16cm; 
                    position:absolute;
                    top:0;
                    bottom:0;
                    margin:auto;" 
                    src="assets/images/phoneSliders/backgroundPhones.png" />   
            </div>            
            <div class="column" style="width: 21%; z-index: 4;">       
                <br>
                <div style="width: 9cm; text-align: center; margin-bottom: 10px; padding: 15px;" class="jumbotron">
                    <img class="user-avatar" src="assets/images/logo.png" width="225px" />
                    
                    <p>
                        Regístrate para ver fotos y vídeos de tus amigos.
                    </p>
                    <p>
                        <a href="javascript:void(0)" class="btn btn-block-custom btn-sm" role="button" size="105px">
                            <i style="font-size:24px" class="fa">&#xf230;</i>        Iniciar sesión con Facebook</a>
                    </p>
    
                    <div style="height: 1px; border-top: 1px solid #D3D3D3; text-align: center; position: relative; ">
                        <span style="position: relative; top: -.7em; background: white; display: inline-block; ">&nbsp;&nbsp;&nbsp; o &nbsp;&nbsp;&nbsp;</span>
                    </div>
                    <br>
                    
    
                    <form role="form">
                        <div class="form-control-range" style="text-align: center;">
                            <div class="form-group">
                                <input type="text" style="font-size: 13.5px" class="form-control input-underline input-lg" id="loginID" placeholder="Número de móvil o correo electrónico" required>
                            </div>
    
                            <div class="form-group">
                                <input type="text" style="font-size: 13.5px" class="form-control input-underline input-lg" id="name" placeholder="Nombre completo">
                            </div>
            
                            <div class="form-group">
                                <input type="text" style="font-size: 13.5px" class="form-control input-underline input-lg" id="username" placeholder="Nombre de usuario">
                            </div>
            
                            <div class="form-group">
                                <input type="password" style="font-size: 13.5px" class="form-control input-underline input-lg" id="password" placeholder="Contraseña">
                            </div>                        
                            <p>
                                <a href="javascript:void(0)" class="btn btn-block-custom btn-sm" role="button" [routerLink]="['/dashboard']">Siguiente</a>
                            </p>
                            <span style="font-size: 13.5px;">
                                Al registrarte, aceptas nuestras <b>Condiciones</b>. 
                                Obtén más información sobre cómo recopilamos, 
                                usamos y compartimos tu información en la <b>Política de datos</b>, 
                                así como el uso que hacemos de las cookies y tecnologías similares en nuestra <b>Política de cookies.</b></span>
                        </div>
                    </form>
    
                </div>
                <div style="width: 9cm; height: 2cm; margin-bottom: 10px; padding: 15px;" class="jumbotron">
                        <span style="color: black; font-size: 13.5px">¿Tienes una cuenta? <a [routerLink]="['/login']">Entrar</a></span>
                </div>
                <span>Descarga la aplicación</span>
                <div class="row">
                        <img class="user-avatar" src="assets/images/banners/bannerApple.png" style=" width: 3cm; height: 1cm;"/>
                        &nbsp;
                        <img class="user-avatar" src="assets/images/banners/bannerGoogle.png" style=" width: 3cm; height: 1cm;"/>
                        &nbsp;
                        <img class="user-avatar" src="assets/images/banners/bannerMicrosoft.png" style=" width: 3cm; height: 1cm;"/>
                </div>
                <a class="btn rounded-btn" [routerLink]="['/dashboard']"> Register </a>&nbsp;
                <a class="btn rounded-btn" [routerLink]="['/login']"> Log in </a>
            </form>
        </div>
    </div>
</div>

<div class = "login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <form data-toggle="validator" #registerForm="ngForm" role="form" id="registerForm" name="registerForm">
                <fieldset>
                    <div class="form-group">
                        <label for="username"> Username </label>
                        <input type="username" class="form-control width-input" id="username" name="username" [(ngModel)]="user.username" #username="ngModel" required>
                        <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger width-input">Invalid Username</div>
                    </div>
                    <div class="form-group">
                        <label for="name"> Full name </label>
                        <input class="form-control width-input" id="name" name="name" type="text" minlength="4" [(ngModel)]="user.name" #name="ngModel" required>
                        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger width-input">No void</div>
                    </div>
                    <div class="form-group">
                        <label for="email"> Email </label>
                        <input type="email" class="form-control width-input" id="email" name="email" type="text" [(ngModel)]="user.email" #email="ngModel" email>
                        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger width-input">Email</div>
                    </div>
                    <div class="form-group">
                        <label for="password">UserPassword</label>
                        <input class="form-control width-input" id="password" name="password" type="password" minlength="4" [(ngModel)]="user.password" #password="ngModel" required>
                        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger width-input">No void</div>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword">UserConfirmPassword</label>
                        <input class="form-control width-input" id="confPassword" name="confPassword" type="password" minlength="4" [(ngModel)]="confirmPassword" #confPassword="ngModel" required>
                        <div *ngIf="confPassword.invalid && (confPassword.dirty || confPassword.touched)" class="alert alert-danger width-input">No void</div>
                    </div>
                </fieldset>
                <br>
                <button (click)="onClickRegisterButton()" [disabled]="!registerForm.valid" class="btn edit-button">BtnRegister</button>
                <button (click)="onClickCancelButton()" class="btn edit-button">BtnCancel</button>
            </form>
        </div>
    </div>
</div>

<ng-template #modalOk let-c="close" let-d="dismiss">
    <div class="modal-header alert alert-success">
        <h4 class="modal-title ">SuccessModalTitle</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>SuccessModalBody</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
    </div>
</ng-template>

<ng-template #modalError let-c="close" let-d="dismiss">
    <div class="modal-header alert alert-danger">
        <h4 class="modal-title">Error</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>{{ errorMessage }}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
    </div>
</ng-template>