<div id="configuracion">
  <div class="contenidoMenu">
      <div class="menuItem" id="editPerfil" routerLinkActive="active" [routerLink]="[ 'edit' ]"><a class="menuOption"  >Editar Perfil</a></div>
      <div class="menuItem" id="editPass" routerLinkActive="active" [routerLink]="[ 'password' ]"><a  class="menuOption"  >Cambiar Contraseña</a></div>
      <div class="menuItem" id="editPass"  [routerLink]="[ 'password' ]"><a  class="menuOption"  >Aplicaciones autorizadas</a></div>
      <div class="menuItem" id="editPass"  [routerLink]="[ 'password' ]"><a  class="menuOption"  >Correo electrónico y SMS</a></div>
      <div class="menuItem" id="editPass"  [routerLink]="[ 'password' ]"><a  class="menuOption"  >Administrar contactos</a></div>
      <div class="menuItem" id="editPass" [routerLink]="[ 'privacy' ]"><a  class="menuOption"  >Privacidad y seguridad</a></div>
  </div>
  <div><router-outlet></router-outlet></div>
</div>
