#configuracion {
    width: 80%;
    float: left;
    position: relative;
    margin-left: 10%;
    margin-top: 50px;
    height: 1000px;
}

.contenidoMenu{
    padding-left: 5px;
    padding-top: 5px;
    width: 20%;
    float: left;
    position: relative;
    margin-left: 10%;
    height: 400px;
    border: solid black 1px;
}

.contenidoMenu div{
    margin-top: 15px;
}