<div id="contenido">
    <div id="logo"><img alt="" src="assets/images/defaultlogo.png" width="200px" /></div>
    <!--<img alt="" src="assets/images/logo.png" width="200px"/>-->
    <div id="datosusuario">
        <div id="datostop">
                <div id="nick">{{user?.username}}</div>
                <div id="follow" *ngIf=self_followed_list>
                    <button *ngIf="isLogged() && selfFollowCheck(user?.id) && !checkFollowedStatus(user?.id)" (click)="sendFollow(user?.id)"
                        class="btn btn-primary btn-sm">Seguir</button>
                    <button *ngIf="isLogged() && selfFollowCheck(user?.id) && checkFollowedStatus(user?.id)" (click)="sendUnfollow(user?.id)"
                        class="btn btn-outline-secondary btn-sm">Seguido</button>
                </div>
                <div *ngIf="isAuthUser()" id="opciones">
                    <button id="botonOpciones" routerLink="/accounts">Editar Perfil</button>
                </div>
                <div *ngIf="isAuthUser()" (click)="settingsPopUp()" id="settings">
                    <button id="botonSettings">
                        <img src="http://icons-for-free.com/free-icons/png/512/2246806.png" alt="Settings images" width="60px" height="60px">
                    </button>
                </div>
            </div>
        <div id="datosmid">
            <div (click)="followersPopUp()" id="followers" style="cursor: pointer; outline-width: 0;">{{followers}}
                Followers</div>
            <div id="publications">{{posts}} publications</div>
            <div (click)="followedPopUp()" id="following" style="cursor: pointer; outline-width: 0;">{{followeds}}
                Following</div>
        </div>
        <br>
        <div id="name"><b>{{user?.name}}</b></div>
        <div id="bio">{{user?.bio}}</div>
    </div>
    <div id="fotos">
        <div class="quadradoTabla">
            <div id="subirFoto" (click)="uploadPopup()" class="celda" *ngIf="isAuthUser()">
                <img alt="" src="assets/images/camara.png" width="200px" />
                <!--<input type="file" id="inputFoto" (change)=subirFoto($event) style="display:none;" accept="image/*" />-->
            </div>


            <!--<div class="celda"><img src="/assets/images/X.png" /></div>
        <div class="celda"><img src="/assets/images/X.png" /></div>
        <div class="celda"><img src="/assets/images/X.png" /></div>
        <div class="celda"><img src="/assets/images/X.png" /></div>
        <div class="celda"><img src="/assets/images/X.png" /></div>
        <div class="celda"><img src="/assets/images/X.png" /></div>-->
        </div>

    </div>

</div>

<ng-template #modalFollowed let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" style="padding-left: 5em">Following</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div id="followed_modal" class="modal-body" style="height: 250px; overflow-y: auto;">
        <div *ngFor="let user_followed of followed_list" class="column" style="line-height: 4.5em">
            <span style="display:inline;">
                <img alt="" src="assets/images/defaultlogo.png" width="15%" />
            </span>

            <div style="display:inline-block; line-height: 1em">
                <b (click)="d('Cross click')" [routerLink]="['/', user_followed.username]" style="cursor: pointer; outline-width: 0;">&nbsp;
                    {{user_followed.username}}</b>
                <br>
                <span style="font-size: 14px; color: gray; padding-left: 1em">{{user_followed.name}}</span>
            </div>
            <span style="display:inline; float: right;">
                <button *ngIf="isLogged() && selfFollowCheck(user_followed.id) && !checkFollowedStatus(user_followed.id)"
                    (click)="sendFollow(user_followed.id)" class="btn btn-primary btn-sm">Seguir</button>
                <button *ngIf="isLogged() && selfFollowCheck(user_followed.id) && checkFollowedStatus(user_followed.id)"
                    (click)="sendUnfollow(user_followed.id)" class="btn btn-outline-secondary btn-sm">Seguido</button>
            </span>


        </div>
    </div>
    <div class="modal-footer">
    </div>
</ng-template>

<ng-template #modalUpload let-c="close" let-d="dismiss" >
    <div id="contenidoSubirFoto">
        <div id="tituloSubirFoto">
            <a>Subir Imagen</a>
        </div>
        <div id="inputFoto">
            <label for="inputFotoHid" class="btn btn-primary btn-sm">Examinar</label>
            <input type="file" id="inputFotoHid" style="display: none;" [(ngModel)]="image64" (change)=subirFoto($event) accept="image/*" />
        </div>
        <div id="espacioFoto">
            <img id="fotoSubir" alt="" [src]="foto" />
        </div>
        <div id="descFoto"  *ngIf="imagePresent">
            <textarea [(ngModel)]="descripcionFoto" id="textAreaFoto">Descipcion</textarea>
        </div>
        <div *ngIf="imagePresent" id="enviarFoto">
            <input type="button" value="Enviar" (click)="enviarFoto()" class="btn btn-primary btn-sm" />
        </div>
    </div>
</ng-template>

<ng-template #modalFollowers let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" style="padding-left: 5em">Followers</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div id="followers_modal" class="modal-body" style="height: 250px; overflow-y: auto;">
        <div *ngFor="let user_following of follower_list" class="column" style="line-height: 4.5em">
            <span style="display:inline;">
                <img alt="" src="assets/images/defaultlogo.png" width="15%" />
            </span>

            <div style="display:inline-block; line-height: 1em">
                <b (click)="d('Cross click')" [routerLink]="['/', user_following.username]" style="cursor: pointer; outline-width: 0;">&nbsp;
                    {{user_following.username}}</b>
                <br>
                <span style="font-size: 14px; color: gray; padding-left: 1em">{{user_following.name}}</span>
            </div>
            <span style="display:inline; float: right;">
                <button *ngIf="isLogged() && selfFollowCheck(user_following.id) && !checkFollowedStatus(user_following.id)"
                    (click)="sendFollow(user_following.id)" class="btn btn-primary btn-sm">Seguir</button>
                <button *ngIf="isLogged() && selfFollowCheck(user_following.id) && checkFollowedStatus(user_following.id)"
                    (click)="sendUnfollow(user_following.id)" class="btn btn-outline-secondary btn-sm">Seguido</button>
            </span>
        </div>
    </div>
    <div class="modal-footer">
    </div>
</ng-template>

<ng-template #modalSettings let-c="close" let-d="dismiss">
    <div id="settings_modal" class="modal-body">
        <ul id="settings_model_list">
            <li>
                <button routerLink="/accounts/password" (click)="d('Cross click')">
                    Cambiar contraseña
                </button>
            </li>
            <li>
                <button (click)="logOut()" (click)="d('Cross click')">
                    Cerrar sesion
                </button>
            </li>
            <li>
                <button (click)="d('Cross click')">
                    Cancelar
                </button>
            </li>
        </ul>
    </div>
  </ng-template>