<div id="contenido">
  <div id="logo"><img alt="" src="assets/images/defaultlogo.png" width="200px"/></div><!--<img alt="" src="assets/images/logo.png" width="200px"/>-->
  <div id="datosusuario">
    <div id="datostop">
        <div id="nick">{{user?.username}}</div>
        <div id="opciones">Editar Perfil </div>
    </div>
    <div id="datosmid">
        <div id="followers">{{followers}} followers</div>
        <div id="publications">{{posts}} publications</div>
        <div id="following">{{followeds}} following</div>
    </div>
    <div id="name">{{user?.name}}</div>
  </div>
  
</div>