#contenido{
    padding-top: 70px;
    width:1000px;
    margin-left:20%;
}

#logo{
    position: relative;
    float: left;
    width: 30%;
}

#datosusuario{
    padding-top: 50px;
    position: relative;
    float: left;
    width: 50%;

}
#datostop{
    margin-bottom: 10px;
    width: 100%;
    position: relative;
    float: left;
}
#datosmid{
    margin-bottom: 100px;
}

#nick{
    position: relative;
    float: left;
    width: 50%;
    font-size: 30px;
}
#opciones{
    padding-top: 7px;
    position: relative;
    float: left;
    width: 50%;
    
}
#followers{
    position: relative;
    float: left;
    width: 32%;
}
#following{
    position: relative;
    float: left;
    width: 32%;
}
#publications{
    position: relative;
    float: left;
    width: 32%;
}