#contenido{
    padding-top: 70px;
    width:1000px;
    margin-left:20%;
}

#logo{
    position: relative;
    float: left;
    width: 30%;
}

#datosusuario{
    padding-top: 50px;
    position: relative;
    float: left;
    width: 50%;

}
#datostop{
    margin-bottom: 10px;
    width: 100%;
    position: relative;
    float: left;
}
#datosmid{
    margin-bottom: 100px;
}

#nick{
    position: relative;
    float: left;
    font-size: 30px;
    margin-right: 20px;

}




#opciones{
    padding-top: 10px;
    flex-shrink: 0;
    margin-left: 25px; 
}
#botonOpciones{
    background-color: transparent;
    border: 1px solid #dbdbdb;
    color: #262626;
    font-size: 14px;
    text-decoration: none;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    font-weight: 600;
}
#botonOpciones:hover{
    cursor: pointer;
}


#followers{
    position: relative;
    float: left;
    width: 32%;
}
#following{
    position: relative;
    float: left;
    width: 32%;
}
#publications{
    position: relative;
    float: left;
    width: 32%;
}