@media all and (min-width: 640px) and (max-width: 1023px){
    #contenido{
        margin-left: 10px;
    }
}

@media all and (min-width: 1024px) and (max-width: 1280px){
    #contenido{
        margin-left: 12.5%;
    }
}

@media all and (min-width: 1281px) and (max-width: 1599px){
    #contenido{
        margin-left: 19%;
    }
}

@media all and (min-width: 1600px){
    #contenido{
        margin-left: 25%;
    }
}

#contenido{
    padding-top: 70px;
    width:1000px;
}

#logo{
    position: relative;
    float: left;
    width: 30%;
}

#datosusuario{
    position: relative;
    float: left;
    width: 50%;

}
#datostop{
    margin-bottom: 10px;
    width: 100%;
    position: relative;
    float: left;
}
#datosmid{
    margin-bottom: 80px;
}

#nick{
    position: relative;
    float: left;
    font-size: 30px;
    margin-right: 20px;

}




#opciones{
    padding-top: 10px;
    flex-shrink: 0;
    margin-left: 25px; 
}
#botonOpciones{
    background-color: transparent;
    border: 1px solid #dbdbdb;
    color: #262626;
    font-size: 14px;
    text-decoration: none;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    font-weight: 600;
}
#botonOpciones:hover{
    cursor: pointer;
}


#followers{
    position: relative;
    float: left;
    width: 32%;
}
#following{
    position: relative;
    float: left;
    width: 32%;
}
#publications{
    position: relative;
    float: left;
    width: 32%;
}

#fotos{
    margin-top: 100px;
    float: left;
    position: relative;
    width:100%;
}

#subirFoto:hover{
    cursor: pointer;
}


.labels:hover{
    cursor: pointer;
}

#contenidoSubirFoto{
    min-width: 400px;
    max-width: 1000;
    min-height: 80px;
    max-height: 1000px;
    padding-right:2px;
}

#tituloSubirFoto{
    position: relative;
    width:100%;
    float: left;
    text-align: center;
    padding: 5px;
    border-bottom: solid rgb(238, 238, 238) 1px;
    font-weight: 600;
}


#inputFoto{
    width:100%;
    float: left;
    position: relative;
    padding: 5px;
    text-align: center;
}

#descFoto{
    width:100%;
    position: relative;
    float: left;
    padding: 5px;
}

#textAreaFoto{
    width:100%;
    height: 79px;
}

#espacioFoto{
    float: left;
    position: relative;
    width:100%;
    max-width: 800px;
    max-height: 800px;
    text-align: center;
}

#fotoSubir{
    max-width: 395px;
    max-height: 395px;
    text-align: center;

}

#enviarFoto{
    width:100%;
    float: left;
    position: relative;
    text-align: center;
    padding: 5px;
}

.celda{
    width:33%;
    position: relative;
    float: left;
    top:0;
    left: 0;
}

.celda img{
    margin-top: 20px;
    width:300px;
    height: 300px;
    position: relative;
    top:0;
    left: 0;
}

.datosFoto{
    opacity: 1;
    position: static;
    text-align: center;
    width:300px;
    padding-top: 48%;
    position: absolute;
    float: left;
    color: white;
    display:none;
    font-size: 18px;
}

.datosHidden{
    top: 0;
    left: 0;
    margin-top: 20px;
    width:300px;
    height: 300px;
    position: absolute;
    float: left;
    display:none;
    opacity: 0.5;
    background-color: black;
}


.celda:hover .datosHidden{
    display: inline;
    z-index: 2;
}

.celda:hover .datosFoto{
    display: inline;
    z-index: 3;
}

.contenedorFoto{
    position: relative;
    width:100%;
}

#settingsWheel{
    width: 60px;
 }
 
 #settingsWheel:hover{
    cursor: pointer;
 }
 
 
 .botonOpt{
    margin-top: 15px;
 }
 
 #settings_modal button:hover {
    cursor: pointer;
 }

 #botonSettings:hover{
    cursor: pointer;
 }