.content{
    min-width: 1000px;
    width:100%;
    position: relative;
    float: left;
    padding-top: 60px;
}

.titulosec{
    margin-left: 25%;
    width:100%;
    position: relative;
    float: left;
    margin-bottom: 20px;
}

#explorar{
    margin-top:70px;
}
.fotos{
    margin-left: 25%;
    width:1000px;
    position: relative;
    float: left;
}

.fotos div{
    width:33%;
    position: relative;
    float: left;
    margin-left: -40px;

}

.fotos div img{
    width:200px;
}