<div class="content">
    <div class="titulosec">
      <a>Descubre Personas</a>
    </div>
    <div class="fotos">
        <div><img src="/assets/images/X.png" /></div>
        <div><img src="/assets/images/X.png" /></div>
        <div><img src="/assets/images/X.png" /></div>
    </div>
    <div class="titulosec" id="explorar">
        <a>Explorar</a>
      </div>
    <div class="fotos">
        <div><img src="/assets/images/X.png" /></div>
        <div><img src="/assets/images/X.png" /></div>
        <div><img src="/assets/images/X.png" /></div>
        <div><img src="/assets/images/X.png" /></div>
        <div><img src="/assets/images/X.png" /></div>
        <div><img src="/assets/images/X.png" /></div>
        <div><img src="/assets/images/X.png" /></div>

    </div>
</div>
  
  