<div id="contenidoPass">
    <div id="nameTitle">
        <div class="left">
            <img *ngIf="fotoPerfil" alt="profile image" [src]="fotoPerfil" width="40px" />
            <img  *ngIf="!fotoPerfil" src="assets/images/defaultlogo.png" width="40px"/>
        </div>
        <div class="right">
            <div><a>{{username}}</a></div>
        </div>
    </div>
    <div class="left">
        <div><label>Contraseña antigua</label></div>
        <div><label>Contraseña nueva</label></div>
        <div><label>Confirmar nueva contraseña</label></div>
    </div>
    <div class="right">
        <input [(ngModel)]="pass" type="password" />
        <input [(ngModel)]="newPass" type="password" />
        <input [(ngModel)]="confirmNewPass" type="password" />
    </div>
    <div class="hidenm" *ngIf="oldPasswordWrong">
        <a style="color: red; width: 100%; float: left; text-align: center; font-weight: 600;">Contraseña incorrecta</a>
    </div>
    <div class="hidenm" *ngIf="passwordsMissmatch">
        <a style="color: red; width: 100%; float: left; text-align: center; font-weight: 600;">Contraseñas no
            coincidentes</a>
    </div>
    <div>
        <!--<input type="button" value="Cambiar contraseña" (click)="cambiarPassword()" />-->
        <div id="boton"><input type="button" [disabled]="changedPass()" class="btn btn-primary btn-sm" value="Cambiar contraseña" (click)="cambiarPassword()" /></div>
    </div>
    <div class="info">
        <a style="color:rgb(65, 168, 202); font-weight: 600">¿Has olvidado la contraseña?</a>
    </div>
</div>