<div id="contenidoPass">
    <div><a>{{username}}</a></div>
    <div>
        <label>Contraseña antigua</label>
        <input [(ngModel)]="pass" type="password" />
    </div>
    <div *ngIf="oldPasswordWrong">
        Contraseña incorrecta
    </div>
    <div>
        <label>Contraseña nueva</label>
        <input [(ngModel)]="newPass" type="password" />
    </div>
    <div>
        <label>Confirmar nueva contraseña</label>
        <input [(ngModel)]="confirmNewPass" type="password" />
    </div>
    <div *ngIf="passwordsMissmatch">
        Contraseñas no coincidentes
    </div>
    <div>
        <input type="button" value="Cambiar contraseña" (click)="cambiarPassword()" />
    </div>
</div>